<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:lang="http://www.springframework.org/schema/lang" xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd http://www.springframework.org/schema/lang http://www.springframework.org/schema/lang/spring-lang-3.0.xsd http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.0.xsd"
	default-lazy-init="false" default-autowire="byName" >
	<context:annotation-config/> 
	<context:component-scan base-package="org.gameprototype" annotation-config="true"/>
	
	<import resource="handler.xml"/>
	<import resource="ServImpls.xml"/>
	<import resource="dataServer.xml"/>
	<import resource="redis.xml"/>

	 <bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
	 	<property name="locations">
	 		<list>
	 			<value>dataSource.properties</value>
	 			<value>log4j.properties</value>
	 		</list>
	 	</property>
	 </bean>
	
	  <bean id="serverListener" class="org.gameprototype.ServerListener" init-method="init" destroy-method="stop">
	  <constructor-arg index="0" value="9090"></constructor-arg>
	 </bean>
	 
	 
	<!-- 下面尝试netty配置 -->
    <!--netty的入口-->
	<bean id="startBoots" class="io.netty.bootstrap.ServerBootstrap">
          <!--   destroy-method="releaseExternalResources" init-method="bind"> -->
	</bean>
	
	 <bean id="hexDumpProxyPipelineFactory" class="org.gameprototype.nettyhandler.HexDumpProxyPipelineFactory">
		<lookup-method name="createHexDumpProxyHandler" bean="hexDumpProxyInboundHandler" />
	</bean>

	<bean id="hexDumpProxyInboundHandler" class="org.gameprototype.nettyhandler.HexDumpProxyInboundHandler" scope="prototype">
		<property name="logic" ref="logicHandler"></property>
	</bean>
</beans>